* {
  margin: 0;
  font-family: arial;
  border: border-box;
}

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-log {
  height: 45px;
  width: 140px;
}

.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
  position: relative;
  top: -10px;
}

.border {
  border: 1.5px solid transparent;
}

.border:hover {
  border: 1.5px solid white;
}

.add_first {
  font-size: 14px;
  color: #cccccc;
  margin-left: 17px;
}

.nav-address {
  height: 40px;
  width: 170px;
  padding: 5px;
}
.add_second {
  font-size: 16px;
  font-weight: bold;
  margin-left: 3px;
}

.add_icon {
  display: flex;
  align-items: center;
}

.nav_search {
  display: flex;
  background-color: rgb(249, 192, 78);
  width: 610px;
  height: 40px;
  border-radius: 3px;
  margin-left: 10px;
}
.nav_search:hover {
  border: 2px solid orange;
}
.search-select {
  border-radius: 5px;
  height: 40px;
  width: 52px;
  background-color: #f3f3f3;
  border: none;
}

.search-select:active {
  border: 3px solid #fcba03;
}

.search-input {
  width: 500px;
  font-size: 16px;
  font-weight: 540;
}

.search_icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #0f1111;
}

input[type="radio"] {
  display: none;
}

label.radio-label {
  display: inline-block;
  padding: 7px 20px;
  background-color: #f1f1f1;
  border: 1px solid white;
  cursor: pointer;
  color: black;
}

input[type="radio"]:checked + label.radio-label {
  background-color: #ccc;
  color: black;
}

.dropdown {
  position: relative;
  display: flex;
  height: 40px;
  width: 52px;
}
.dropdown-content {
  display: none;

  min-width: 150px;
  border: 1px solid #ccc;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-button {
  background-color: #0f1111;
  color: white;
}
.dropdown-button:hover {
  border: 1.5px solid white;
}

p span {
  font-size: 12px;
}
.nav-signin {
  font-size: 15px;
  font-weight: 550;
  justify-content: center;
  align-items: center;
  padding: 6px 7px 6px 7px;
}

.nav-signin:hover {
  border: 1.5px solid white;
}
.nav-return {
  font-size: 15px;
  font-weight: 550;
  justify-content: center;
  align-items: center;
  padding: 6px 7px 6px 7px;
}

.nav-return:hover {
  border: 1.5px solid white;
}

.cart {
  display: flex;
  padding: 11px 7px 11px 7px;
}
.cart i {
  font-size: 25px;
}
.cart p {
  font-size: px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-left: 5px;
}

.cart:hover {
  border: 1.5px solid white;
}

.panel {
  background-color: #232f3e;
  height: 39px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
}

.panel-all {
  margin-left: 15px;
  font-weight: 550;
  padding: 8px 10px 8px 10px;
}

.pborder:hover {
  border: 1.5px solid white;
  padding: 8px 10px 8px 10px;
}

.prime-sel {
  background-color: #232f3e;
  color: white;
  border: none;
  font-size: 17px;
}

.hero-section {
  background-image: url("bg.jpg");
  height: 350px;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 80%;
  margin-bottom: 25px;
}

.shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e3fa89;
}
.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
}

.box1-img {
  background-size: cover;
  height: 300px;
}

.box-content {
  margin-left: 15px;
  margin-right: 15px;
}

.box-content p {
  color: #007185;
}

.box-content p:hover {
  text-decoration: underline;
  color: orange;
}

.shop-section2 {
  display: flex;
  justify-content: space-evenly;
  background-color: #e3fa89;
}
.box2 {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
}

.box1-img2 {
  background-size: cover;
  height: 300px;
}

.box-content2 {
  margin-left: 15px;
  margin-right: 15px;
}

.box-content2 p {
  color: #007185;
}

.box-content2 p:hover {
  text-decoration: underline;
  color: orange;
}

.shop-section3 {
  display: flex;
  justify-content: space-evenly;
  background-color: #e3fa89;
}
.box3 {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
}

.box1-img3 {
  background-size: cover;
  height: 300px;
}

.box-content3 {
  margin-left: 15px;
  margin-right: 15px;
}

.box-content3 p {
  color: #007185;
}

.box-content3 p:hover {
  text-decoration: underline;
  color: orange;
}
.shop-section p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-section2 p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.shop-section3 p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space1 {
  height: 40px;
  background-color: #e3fa89;
}

.space2 {
  height: 40px;
  background-color: #e3fa89;
}

.view {
  height: 50px;
  border: 1px solid rgb(135, 135, 134);
  display: flex;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}

.view-1 {
  font-style: italic;
}

.footer-1 {
  font-size: 14px;
  background-color: #394b63;
  height: 45px;
  color: rgb(189, 189, 189);
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-1:hover {
  background-color: #455b77;
}

.footer-2 {
  background-color: #232f3e;
  height: 250px;
  color: rgb(189, 189, 189);
  display: flex;
  padding-top: 30px;
  align-items: flex-start;
  justify-content: space-evenly;
  line-height: 1.8;
  font-size: 14px;
}

.footer-3 {
  background-color: #232f3e;
  height: 100px;
  color: rgb(189, 189, 189);
  padding-top: 20px;
}

.fot3 {
  color: rgb(189, 189, 189);
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  font-size: 14px;
}
.logo-row {
  width: 100px;
  margin: 0 auto;
}

.logo2 {
  width: 100%;
  height: 60px;
  text-align: center;
}

.footer4 {
  height: 150px;
  background-color: #131a22;
  color: rgb(189, 189, 189);
  font-size: 12px;
}

.end-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 20px;
}

.line:hover {
  text-decoration: underline;
}

.end {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
